# Python
__pycache__/
*.pyc
.venv/
venv/

# PyFyve - never push
/models/
*.gguf
Modelfile
version.txt

# IDE
.idea/
.vscode/

# user files
user_workspace.py
user_progress.json

# OS
.DS_Store
Thumbs.db